<ion-view cache-view="false">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Create a car</h1>
  </ion-header-bar>
  <ion-content>
    <form name="create_form" novalidate>
      <div class="form-fields-outer list list-inset">
        <div class="form_group">
          <label class="item item-select">
            <div class="input-label">
              <spam class="placeholder-values">Brand</spam>
            </div>
            <select ng-model="car.brand" required>
              <option value="BMW" selected>BMW</option>
              <option value="Mercedes-Benz">Mercedes-Benz</option>
              <option value="Chevrolet">Chevrolet</option>
              <option value="Ford">Ford</option>
              <option value="VolksWagen">VolksWagen</option>
              <option value="Toyota">Toyota</option>
              <option value="Nissan">Nissan</option>
            </select>
          </label>
        </div>

        <div class="form_group">
          <label class="item item-input" ng-class="{ 'has_error' : create_form.model.$invalid && ! create_form.model.$pristine }">
            <input type="text" placeholder="Model" name="model" ng-model="user.model" ng-minlength="2" ng-maxlength="30" ng-model-options="{ debounce: 500 }" required>
          </label>
          <p ng-show="create_form.model.$invalid && !create_form.model.$pristine && !create_form.model.$error.minlength && !create_form.model.$error.maxlength" class="help-block">The model is required.</p>
          <p ng-show="create_form.model.$error.minlength" class="help-block">The model is too short.</p>
          <p ng-show="create_form.model.$error.maxlength" class="help-block">The model is too long.</p>
        </div>

        <div class="form_group">
          <label class="item item-select">
            <div class="input-label">
              <spam class="placeholder-values">Number of doors</spam>
            </div>
            <select ng-model="car.doors" required>
              <option value="3" selected>3</option>
              <option value="5">5</option>
            </select>
          </label>
        </div>

        <div class="form_group">
          <label class="item item-select">
            <div class="input-label">
              <spam class="placeholder-values">Colors</spam>
            </div>
            <select ng-model="car.colors" multiple="multiple" required>
              <option value="Black" selected>Black</option>
              <option value="Blue">Blue</option>
              <option value="Green">Green</option>
              <option value="Grey">Grey</option>
              <option value="Red" >Red</option>
              <option value="White">White</option>
              <option value="Yellow">Yellow</option>
            </select>
          </label>
        </div>

        <div class="form_group">
          <label class="item item-input" ng-class="{ 'has_error' : create_form.price.$invalid && ! create_form.price.$pristine }">
            <spam class="placeholder-values">US$</spam>
            <input type="text" placeholder="Price" name="price" ng-model="car.price" ng-minlength="4" ng-maxlength="7" ng-model-options="{ debounce: 500 }" ng-pattern="/^\d+$/" required>
          </label>
          <p ng-show="create_form.price.$invalid && !create_form.price.$pristine && !create_form.price.$error.minlength && !create_form.price.$error.maxlength && !create_form.price.$error.pattern" class="help-block">The price is required.</p>
          <p ng-show="create_form.price.$error.pattern" class="help-block">Please, write a number value</p>
          <p ng-show="create_form.price.$error.minlength && !create_form.price.$error.pattern" class="help-block">The price is too cheap.</p>
          <p ng-show="create_form.price.$error.maxlength && !create_form.price.$error.pattern" class="help-block">The price is too expensive.</p>
        </div>

        <div class="form_group">
          <ion-checkbox ng-model="car.used" name="used" class="used-checkbox" required>
            <span class="used-checkbox-label">Used?</span>
          </ion-checkbox>
          <p ng-show="!create_form.used.$pristine && !car.used" class="help-block">Your must compleate the checkbox.</p>
        </div>

        <button class="button button-full button-positive" ng-click="Create(car)" ng-disabled="create_form.$invalid || !car.used">
          Create car
        </button>

      </div>
    </form>
  </ion-content>
</ion-view>
