<ion-view cache-view="false">
  <ion-header-bar class="bar-stable">
    <h1 class="title">Delete</h1>
    <button class="button" ui-sref="menu">Back</button>
  </ion-header-bar>
  <ion-content>
    <div class="row header">
          <div class="col col-25">brand</div>
          <div class="col col-25">model</div>
          <div class="col col-25">color</div>
          <div class="col col-25">accion</div>
        </div>
        <div class="row" ng-repeat="car in carRows track by car.rowid">
          <div class="col col-25">{{car.brand}}</div>
          <div class="col col-25">{{car.model}}</div>
          <div class="col col-25">{{car.color}}</div>
          <div class="col col-25"><button class="button button-clear button-positive" ng-click="delete(car.rowid)">Delete</button></div>
        </div>
  </ion-content>
</ion-view>
