<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Edit</h1>
    <button class="button" ui-sref="update">Back</button>
  </ion-header-bar>
  <ion-content>
    <form name="update_form" novalidate>
      <div class="form-fields-outer list list-inset">
        <div class="form_group">
          <label class="item item-select">
            <div class="input-label">
              <spam class="placeholder-values">Brand</spam>
            </div>
            <select ng-model="newCar.brand" required>
              <option value="BMW">BMW</option>
              <option value="Mercedes-Benz">Mercedes-Benz</option>
              <option value="Chevrolet">Chevrolet</option>
              <option value="Ford">Ford</option>
              <option value="VolksWagen">VolksWagen</option>
              <option value="Toyota">Toyota</option>
              <option value="Nissan">Nissan</option>
            </select>
          </label>
        </div>

        <div class="form_group">
          <label class="item item-input" ng-class="{ 'has_error' : update_form.model.$invalid && !update_form.model.$pristine }">
            <div class="input-label">
              <spam class="placeholder-values">Car model</spam>
            </div>
            <input type="text" placeholder="Model" name="model" ng-model="newCar.model" ng-minlength="2" ng-maxlength="30" ng-model-options="{ debounce: 500 }" required>
          </label>
          <p ng-show="update_form.model.$invalid && !update_form.model.$pristine && !update_form.model.$error.minlength && !update_form.model.$error.maxlength" class="help-block">The model is required.</p>
          <p ng-show="update_form.model.$error.minlength" class="help-block">The model is too short.</p>
          <p ng-show="update_form.model.$error.maxlength" class="help-block">The model is too long.</p>
        </div>

        <div class="form_group">
          <label class="item item-select">
            <div class="input-label">
              <spam class="placeholder-values">Number of doors</spam>
            </div>
            <select ng-model="newCar.doors" required>
              <option value="3">3</option>
              <option value="5">5</option>
            </select>
          </label>
        </div>

        <div class="form_group">
          <label class="item item-select">
            <div class="input-label">
              <spam class="placeholder-values">Colors</spam>
            </div>
            <select ng-model="newCar.color" required>
              <option value="Black">Black</option>
              <option value="Blue">Blue</option>
              <option value="Green">Green</option>
              <option value="Grey">Grey</option>
              <option value="Red" >Red</option>
              <option value="White">White</option>
              <option value="Yellow">Yellow</option>
            </select>
          </label>
        </div>

        <div class="form_group">
          <label class="item item-input" ng-class="{ 'has_error' : update_form.price.$invalid && !update_form.price.$pristine }">
            <spam class="placeholder-values">US$</spam>
            <input type="text" placeholder="Price" name="price" ng-model="newCar.price" ng-minlength="4" ng-maxlength="7" ng-model-options="{ debounce: 500 }" ng-pattern="/^\d+$/" required>
          </label>
          <p ng-show="update_form.price.$invalid && !update_form.price.$pristine && !update_form.price.$error.minlength && !update_form.price.$error.maxlength && !update_form.price.$error.pattern" class="help-block">The price is required.</p>
          <p ng-show="update_form.price.$error.pattern" class="help-block">Please, write a number value</p>
          <p ng-show="update_form.price.$error.minlength && !update_form.price.$error.pattern" class="help-block">The price is too cheap.</p>
          <p ng-show="update_form.price.$error.maxlength && !update_form.price.$error.pattern" class="help-block">The price is too expensive.</p>
        </div>

        <button class="button button-full button-positive" ng-click="update(newCar)" ng-disabled="update_form.$invalid">
          Update car
        </button>
        <p ng-show="error" class="help-block">This car already exists</p>

      </div>
    </form>
  </ion-content>
</ion-view>
