<ion-view>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Main menu</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
       <label class="item">
         <button class="button button-block button-positive" ui-sref="create">
           Create
         </button>
       </label>
       <label class="item">
         <button class="button button-block button-positive" ui-sref="assign">
           Assign
         </button>
       </label>
       <label class="item">
         <button class="button button-block button-positive" ui-sref="update">
           Update
         </button>
       </label>
       <label class="item">
         <button class="button button-block button-positive" ui-sref="delete">
           Delete
         </button>
       </label>
       <label class="item">
         <button class="button button-block button-positive" ui-sref="consult">
           Consult
         </button>
       </label>
    </div>
  </ion-content>
</ion-view>
